html,
body {
  margin: 0;
  padding: 0;
  max-width: 320px;
  height: 1024px;
  box-shadow: 24px 4px 20px 0px rgba(34, 60, 80, 0.2);
}
@font-face {
  font-family: "TT Lakes";
  src: url(fonts/TTLakes-Regular.woff) format("woff");
}
@font-face {
  font-family: "TT Lakes";
  src: url(fonts/TTLakes-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
.header {
  display: flex;
}
.header__right {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.header__burger {
  background: url(./images/burger.svg) no-repeat center;
  width: 45px;
  height: 45px;
  border: 2px solid rgba(255, 255, 255, 1);
}
.header__left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
}
.header__search {
  background: url(./images/search.svg) no-repeat center;
  width: 45px;
  height: 45px;
  border: 2px solid rgba(255, 255, 255, 1);
}
.menu__content {
  margin-top: 15px;
}
.content {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content__link {
  padding-left: 20px;
  display: block;
  text-decoration: none;
  color: rgba(27, 28, 33, 1);
  font-family: "TT Lakes";
  padding-top: 10px;
  padding-bottom: 10px;
}
.content__link:hover:before {
  content: "";
  left: -15px;
  position: relative;
  width: 4px;
  height: 40px;
  background-color: rgba(65, 246, 215, 1);
  border: 3px solid rgba(65, 246, 215, 1);
  border-radius: 20%;
}
.content__link:hover {
  opacity: 0.5;
  transform: scale(1.05);
}
.contact {
  margin-top: auto;
}

.contact__name {
  display: flex;
  gap: 15px;
  margin-left: 10px;
  margin-top: 100%;
}
.contact__chatcopy {
  background: url(./images/chat\ copy.svg) no-repeat center;
  width: 45px;
  height: 45px;
  border: 2px solid rgba(255, 255, 255, 1);
}
.contact__chat {
  background: url(./images/chat.svg) no-repeat center;
  width: 45px;
  height: 45px;
  border: 2px solid rgba(255, 255, 255, 1);
}
.contact__profile {
  background: url(./images/profile.svg) no-repeat center;
  width: 45px;
  height: 45px;
  border: 2px solid rgba(255, 255, 255, 1);
}
.contact__mail {
  font-family: "TT Lakes";
  margin-top: 10px;
  margin-left: 15px;
}
.contact__namber {
  font-family: "TT Lakes";
  font-weight: bold;
  font-size: 24px;
  margin-top: 10px;
  margin-left: 15px;
}
.contact__langs {
  display: flex;
  gap: 10px;
  margin-left: 15px;
  margin-top: 40px;
}
.contact__lang {
  border: 2px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 1);
}

.contact__lang:hover {
  opacity: 0.5;
  transform: scale(1.05);
}
